<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>bihar_vibes website home page</title>
</head>
<body>

      <h2>bihar_vibes website home page!</h2>
      <hr>
      <p>
      Welcome to the bihar_vibes website home page!
      </p>

      <hr>
      <!--display user name and roles -->

      <p>
          User: <span sec:authentication="principal.username"></span>
            <br><br>
          Role(s): <span sec:authentication="principal.authorities"></span>
      </p>

      <hr>

<!-- Add logout form -->
<form action="#" th:action="@{/logout}" method="post">
   <input type="submit" value="logout" />
</form>

</body>
</html>